################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BionicLibraryNetStandard/.vs/BionicLibrary/v16
